/* https://www.w3schools.com/HOWTO/tryit.asp?filename=tryhow_css_image_grid_responsive */

@media only screen 
and (max-width : 767px) {

    .tablet {
        display: none;
    }

    .desktop {
        display: none;
    }

    .slider__header {
        font-size: 45px;
    }

    .container__fluid_footer {
        flex-wrap: wrap;
    }

    .desktop__nav {
        display: none;
    }

    .logo__container {
        max-width: 70px;
        z-index: 2;
    }

    .open__nav {
        display: block;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        right: 0px;
        top: 15px;
    }

    .mobile__nav_container {
        display: block;
        height: 0;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        overflow-x: hidden;
        transition: 0.5s;
        background: #141515;
    }

    .close__nav {
        display: block;
        font-size: 40px;
        cursor: pointer;
        position: absolute;
        right: 2px;
        top: 11px;
    }

    nav > ul {
        flex-direction: column;
    }

    .mobile__nav_container .container__fluid {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;;
    }

    .mobile__nav_info {
        margin-top: auto;
        margin-bottom: 50px;
    }

    .mobile__nav_info > a {
        margin-bottom: 20px;
        display: block;
    }

    .mobile__nav_items {
        font-size: 20px;
        margin-top: 25vh;
    }

    .mobile__nav_items > ul > li {
        margin-bottom: 35px;
    }

    .section__header {
        font-size: 25px;
        margin: 0;
        margin-bottom: 20px;
    }

    section.projects {
        padding: 30px 0 40px
    }

    .container__fluid_overflow {
        flex-wrap: wrap;
        margin: 0 5%;
    }

    .projects .container__fluid_overflow .slider__buttons {
        margin-top: 0;
    }

    .container__fluid_form {
        flex-wrap: wrap;
    }

    .form__column.first, .form__column.second, .input__custom {
        width: 100%;
    }
    
    .main__form > .button__custom {
        /* margin-left: 0; */
        color: #fff;
        order: 1;
        padding-bottom: 0;
    }

    section.form {
        padding: 55px 0;
    }

    .input__custom {
        margin-bottom: 20px;
        padding-bottom: 15px;
        margin-right: 0;
    }

    .form__header {
        margin-bottom: 15px;
    }

    .checkbox__custom {
        width: 50%;
    }

    .main__form {
        margin-top: 20px;
    }

    footer {
        padding: 55px 0;
    }

    .footer__column.third {
        display: none;
    }

    .footer__column.first {
        order: 2;
    }

    .footer__column.second {
        order: 1;
        margin: 0;
        margin-bottom: 40px;
        flex-wrap: wrap;
    }

    .container__fluid_footer {
        flex-direction: column;
    }

    .footer__column.second > ul:nth-child(3) {
        width: 100%;
    }

    .projects__column {
        width: 100%;
    }

    .container__fluid_projects, .container__fluid_blog {
        flex-wrap: wrap;
    }

    .slider__column {
        flex: 100%;
        max-width: 100%;
    }
    
    .slider__row {
        padding: 0;
    }

    .projects__page .slider__item .button__custom, .projects .slider__item .button__custom {
        opacity: 1;
    }

    .projects__page .slider__item img, .projects .slider__item img {
        filter: brightness(0.4);
    }
    
    .projects__page .slider__item .slider__text, .projects .slider__item .slider__text {
        opacity: 1;
    }

    .navigation__container {
        position: relative;
    }

    .no_slider .mobile__nav_container {
        background: #fff;
    }

    header.no_slider {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    header.no_slider .open__nav {
        top: 0;
    }

    .side__navigation {
        margin-top: 35px;
    }

    .side__navigation > li {
        margin-bottom: 17px;
    }

    .blog__column {
        width: 100%;
    }

    .container__fluid_article {
        flex-wrap: wrap;
        margin-bottom: 35px;
    }

    .article__header_column {
        width: 100%;
    }

    .contact__list {
        display: flex;
        font-size: 15px;
        flex-direction: column;
        width: 100%;
        margin: 35px 0 40px;
    }

    .contact__list > .contact__item > .contact__phone {
        font-size: 15px;
    }

    .contact__list > .contact__item {
        margin: 0;
        margin-bottom: 20px;
    }

    .article__title {
        font-size: 20px;
        margin: 15px 0 30px 0;
        line-height: 28px;
    } 

    .hasgtag__item {
        font-size: 12px;
        font-weight: 300;
    }

    .article__text {
        font-size: 15px;
        line-height: 23px;
    }

    .article__category {
        font-size: 12px;
    }

    .hastag__list {
        margin-bottom: 30px;
    }

    .contacts .contants__list {
        margin-top: 35px;
    }

    .person__column, .projects__column__person {
        flex: 100%;
        max-width: 100%;
    }

    .person__column:nth-child(1) {
        order: 1
    }

    .person__column:nth-child(2) {
        order: 0
    }

    .person__column:nth-child(3) {
        order: 3
    }

    .person__name, 
    .person__job, 
    .person__description, 
    .person__quote, 
    .articleItem__title, 
    .project__title_person,
    .person__section_header,
    .more__article,
    .button__custom.back__to,
    .related__articles > .related__article {
        font-size: 15px;
        line-height: 23px;
    }

    .person__description {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .person__job {
        margin-top: 10px;
    }

    .person__quote {
        margin: 30px 0;
    }

    .articleItem {
        margin-bottom: 30px;
    }

    .person__articles {
        margin-top: 30px;
    }

    .project__item_person {
        margin-bottom: 30px;
    }

    .footer__column.second {
        justify-content: flex-start;
    }

    .footer__column.second > ul:nth-child(1) {
        margin-right: 25%;
    }

    .contacts .contants__list {
        flex-direction: column;
    }

    .team .container__fluid_overflow .slider__buttons {
        margin: 0;
    }

    .slider__container_multiple.desktop {
        display: none;
    }

    .projects__page .slider__item .slider__text, .projects .slider__item .slider__text {
        margin: 8%;
    }
    
    .projects__description {
        font-size: 15px;
        line-height: 23px;
    }

    .projects__description {
        margin-top: 0px;
        margin-bottom: 25px;
    }

    .article__subheader {
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 20px
    }

    .article__slider_actions {
        padding: 30px 10px 20px;
    }

    .slider__actions .slick-dots a {
        font-size: 12px;
    }

    .projects__slider_buttons.desktop {
        display: none;
    }

    .slider__container_multiple.mobile  .slider__item .slide__content {
        display: block;
        width: 48%;
        margin: 10px 0 20px;
    }

    .slider__container_multiple.mobile .slider__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .slide__header, .slide__subheader {
        font-size: 12px;
    }

    .slide__header {
        margin-top: 20px;
        margin-bottom: 8px;
    }

    .slide__btn {
        margin-top: 10px;
    }

    .slider__header {
        margin-bottom: 5%;
    }

    header.with_slider .slider__paging {
        left: 5%;
        top: 34%;
    }

    .button__custom {
        /* display: block; */
        font-size: 12px;
        font-weight: 300;
    }

    .button__custom.previous {
        margin-bottom: 15px;
    }

    .header_slider_btn {
        bottom: 8%;
    }

    header.with_slider .slider__buttons {
        bottom: 9%;
    }

    .project__slider_actions {
        padding: 30px 10px;
    }

    .slider__container_projects {
        margin-top: 10px;
    }

    .crew__list > .crew__item > .crew__title,
    .crew__list > .crew__item > .crew__position {
        font-size: 12px;
    }

    .crew__list {
        display: flex;
        flex-wrap: wrap;
        font-size: 20px;
        margin: 0;
        width: 100%;
        justify-content: space-between;
    }

    .crew__list > .crew__item {
        margin-right: 9%;
        margin-bottom: 20px;
    }

    .container__fluid_buttons {
        display: block;
    }

    .container__fluid_buttons > .button__custom {
        margin-bottom: 15px;
    }

    /* .articleItem .button__custom {
        padding-bottom: 15px;
    }

    .projects__column__person .button__custom {
        padding-bottom: 15px;
    } */

    .projects__list_person {
        margin-bottom: 0;
    }

    .blog__page .slider__item .slider__text {
        font-size: 15px;
        line-height: 23px;
    }

    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
    }

    .mapouter { 
        margin: 10px 0 30px;
    }

    .container__fluid_buttons div .button__custom {
        margin-top: 5px;
    }

    .container__fluid_buttons div:first-child .button__custom {
        margin-top: 15px;
    }

    .slider__container_blog {
        margin-top: 10px;
    }

    .slider__description {
        font-size: 15px;
        line-height: 23px;
    }

    .blog__page .slider__column .slider__item:first-child {
        margin-top: 30px;
    }

    .slider__container_blog .slider__column:first-child {
        margin-top: -30px;
    }

    br {
        display: none;
    }

    .author {
        flex-direction: column;
    }

    .author__photo {
        align-self: flex-start;
        margin-bottom: 10px;
    }

    .author__name, .author__position {
        font-size: 15px;
    }

    .author__article {
        display: none;
    }

    .article__subheader_related  {
        font-size: 15px;
    line-height: 23px
    }

    .related__articles {
        margin: 0;
    }

    .article__subheader_related {
        margin: 30px 0 30px;
    }

    .related__articles > .related__article {
        margin-bottom: 20px;
    }

    .related__article .button__custom {
        padding-bottom: 10px;
    }
}


@media only screen and (min-width : 768px) and (max-width : 1024px)  {
    .slider__actions.mobile {
        display: none;
    }

    #slider__container_projects.mobile {
        display: none;
    }

    .slider__container_multiple.mobile {
        display: none;
    }

    .desktop {
        display: none !important;
    }

    .container__fluid_overflow {
        flex-wrap: wrap;
        margin: 0 5%;
    }

    .slider__container_projects.tablet {

    }

    .slider__container_projects.tablet .slider__column img {
        margin-top: 15px;
    }

    .slider__container_projects.tablet .slider__column {
        flex: 100%;
        max-width: 100%;
        padding: 0 4px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .slider__container_projects.tablet .slider__column .slider__item {
        position: relative;
        width: 49%;
    }

     .slider__actions.mobile {
        display: block;
    }

    section.projects {
        padding: 50px 0;
    }

    section.projects .section__header {
        margin-right: 0;
        margin-bottom: 25px;
    }

    .section__header {
        font-size: 40px;
    }

    .project__slider_actions {
        padding: 0 10px;
    }

    .projects__description {
        margin-top: 40px;
        font-size: 18px;
        line-height: 30px;
    }

    nav {
        width: 450px;
    }

    nav a {
        font-size: 18px;
    }

    .slider__header {
        font-size: 95px;
    }

    .container__fluid_footer {
        flex-wrap: wrap;
    }

    .footer__column.third {
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        flex: 0 0 100%;
        margin-top: 25px;
    }

    footer {
        padding: 70px 0;
    }

    .container__fluid_projects, .container__fluid_blog {
        flex-wrap: wrap;
    }

    .slider__container_projects, .slider__container_blog {
        max-width: 100%;
        width: 100%;
    }

    .container__fluid_projects .projects__column, .container__fluid_blog .blog__column {
        width: 100%;
    }

    .side__navigation {
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
        max-width: 60%;
    }

    .slider__actions {
        padding: 60px 0 50px;
    }

    .projects__page .slider__column .slider__item a {
        display: block;
        position: relative;
    }

    .projects__page .slider__column .slider__item .slider__text {
        width: auto;
        height: auto;
    }

    .slider__container_multiple.mobile {
        display: block;
    }

    .slider__container_multiple .slick-list {
        margin: 0;
    }

    .slider__container_multiple.mobile  .slider__item .slide__content {
        display: block;
        width: 48%;
        margin: 10px 0 20px;
    }

    .slider__container_multiple.mobile .slider__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .slider__container_multiple .slider__item {
        max-width: 100%;
    }

    .team .container__fluid_overflow .slider__buttons {
        display: none;
    }

    section.team .section__header {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .article__slider_actions {
        /* padding: 30px 10px 20px; */
    }

    .article__title {
        margin: 55px 0;
        font-size: 25px;
    }

    .article__header_img {
        margin-top: 45px;
    }

    .article__category {
        margin-top: 20px;
    }

    .container__fluid_article {
        margin-bottom: 50px;
    }

    .article__slider_actions {
        padding: 0;
    }

    .person__name {
        font-size: 25px;
        line-height: 35px;
    }

    .articleItem__title {
        font-size: 18px;
        line-height: 25px;
    }

    .person__column, .projects__column__person {
        display: flex;
        flex-direction: column;
        flex: 0 0 48%;
        max-width: 48%;
    }

    .person__description {
        font-size: 18px;
        margin-top: 60px;
        line-height: 25px;
    }

    .person__job {
        font-size: 18px;
        margin-top: 10px;
    }

    .project__title_person, 
    .person__quote, 
    .person__section_header, 
    .more__article,
    .hasgtag__item,
    .article__subheader,
    .related__articles > .related__article,
    .contact__list > .contact__item {
        font-size: 18px;
        line-height: 25px;
    }

    .person__column.all__articles {
        max-width: 100%;
        flex: 0 0 100%;
        margin-top: 35px;
    }

    .articles__list {
        display: flex;
        flex-wrap: wrap;
    }

    .articleItem {
        max-width: 50%;
    }

    .container__fluid_person {
        margin-top: 50px;
    }

    .article__text, .crew__list > .crew__item {
        font-size: 18px;
        line-height: 30px;
    }

    .mapouter {
        margin: 40px 0 75px;
    }

    .container__fluid_form {
        flex-wrap: wrap;
    }

    .form__column.first,
    .form__column.second {
        width: 100%;
    }

    section.form {
        padding: 85px 0;
    }

    .form__header {
        margin-bottom: 30px;
    }

    input {
        width: 25%;
    }

    .related__articles > .related__article {
        margin-bottom: 20px;
    }

    .related__article .button__custom {
        padding-bottom: 10px;
    }

}

@media only screen and (min-width : 1026px) and (max-width : 1400px) {
    .person__description {
        margin-top: 20px;
    }

    .person__column, .projects__column__person {
        margin: 0 2%;
    }
}


@media only screen 
and (min-width : 1025px) {
    .container__fluid_projects .projects__column:nth-child(2), .container__fluid_blog .blog__column:nth-child(2) {
        width: 70%;
    }

    .slider__actions.mobile {
        display: none;
    }

    #slider__container_projects.mobile {
        display: none;
    }

    .slider__container_multiple.mobile {
        display: none;
    }

    .mapouter {
        margin-bottom: 130px;
        margin-top: 70px;
    }

    .article__text {
        font-size: 20px;
        line-height: 35px;
        font-weight: 300;
        margin-top: 80px;
        max-width: 82%;
    }

    .mobile {
        display: none;
    }

    .tablet {
        display: none;
    }

    .blog__page .slider__item .slider__text {
        font-size: 20px;
        line-height: 30px;
    }
    
}