@import 'normalize.css';

@font-face {
	font-family: 'PTRootUI';
	src: url('../fonts/PTRootUI_Regular.eot');
	src:
	     url('../fonts/PTRootUI_Regular.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/PTRootUI_Regular.woff2') format('woff2'),
	     url('../fonts/PTRootUI_Regular.woff') format('woff'),
	     url('../fonts/PTRootUI_Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'PTRootUI';
	src: url('../fonts/PTRootUI_Light.eot');
	src:
	     url('../fonts/PTRootUI_Light.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/PTRootUI_Light.woff2') format('woff2'),
	     url('../fonts/PTRootUI_Light.woff') format('woff'),
	     url('../fonts/PTRootUI_Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'PTRootUI';
	src: url('../fonts/PTRootUI_Medium.eot');
	src:
	     url('../fonts/PTRootUI_Medium.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/PTRootUI_Medium.woff2') format('woff2'),
	     url('../fonts/PTRootUI_Medium.woff') format('woff'),
	     url('../fonts/PTRootUI_Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'PTRootUI';
	src: url('../fonts/PTRootUI_Bold.eot');
	src:
	     url('../fonts/PTRootUI_Bold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/PTRootUI_Bold.woff2') format('woff2'),
	     url('../fonts/PTRootUI_Bold.woff') format('woff'),
	     url('../fonts/PTRootUI_Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

* {
	font-family: 'PTRootUI', sans-serif;
	color: #464646;
}

img {
    max-width: 100%;
}

header.with_slider * {
    color: #fff;
}

/* body {
    background: #333;
} */

ul, p {
    margin: 0;
    padding: 0;
}

ul li {
	list-style: none;
}

a {
    text-decoration: none;
}

.slick-slide,
.slick-slide * {
    outline: none!important
}

header.with_slider {
    height: 100vh;
    position: relative;
}

header.with_slider .slider__buttons, header.with_slider .slider__paging {
    position: absolute;
}

header.with_slider .slider__buttons {
    bottom: 12%;
    left: 5%;
}

header.with_slider .slider__paging {
    left: 5%;
    top: 41%;
}

header.with_slider .slider__paging > span {
    font-weight: 700;
}

.header_slider_btn {
    position: absolute;
    right: 11%;
    bottom: 12%;
}

header.no_slider {
    margin-top: 40px;
}

header.no_slider * {
    color: #464646;
}


.container__fluid {
    max-width: 1640px;
    /* max-width: 100%; */
    margin: 0 auto;
    margin: 0 5%;
}

.container__fluid_header {
    /* margin: 0 auto; */
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    /* margin-left: auto;
    margin-right: auto; */
}

nav {
    width: 520px;
    max-width: 100%;
}

nav > ul {
    display: flex;
    justify-content: space-between;
}

nav a {
    font-size: 20px;
}

nav a:hover, nav a.active, nav a:focus{
    font-weight: 700;
}

.logo__container {
    width: 122px;
}

.logo__container h1 {
    margin: 0;
}

.logo__container a {
    display: block;
}

.navigation__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__container_header .slider__item {
    height: 100vh;
    background-size: cover;
}

.slider__arrow {
    display: block;
    background-image: url(../media/designElements/arrow_left.svg);
    height: 17px;
    width: 10px;
    cursor: pointer;
    transition: .3s;
}

.slider__arrow:hover {
    background-image: url(../media/designElements/arrow_left_black.svg);
}

.slider__arrow.prev {

}

#header__slider_buttons .slider__arrow:hover {
    background-image: url(../media/designElements/arrow_left_white.svg);
}

.slider__arrow.next {
    transform: scale(-1, 1);
}

.slider__header {
    font-weight: 700;
    font-size: 110px;
    margin: 0;
    padding: 0;
    margin-top: 10%;
    margin-bottom: 2%;
}

.slider__description {
    font-size: 20px;
    max-width: 535px;
    line-height: 35px;
}

.container__fluid_slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.section__header {
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}

section.projects .section__header {
    margin-right: 150px;
}

.header__overflow {
    margin-right: 150px;
}

.container__fluid_overflow {
    margin: 0 0 0 5%;
    display: flex;
    justify-content: space-between;
}

.projects .container__fluid_overflow .slider__buttons {
    margin-top: 70%;
}

.team .container__fluid_overflow .slider__buttons {
    margin-top: 70%;
}

.slider__container_multiple {
    width: 100%;
}

.slider__container_multiple .slider__item {
    max-width: 400px;
    position: relative;
}

.slider__item {
    cursor: pointer;
}

.projects__page .slider__item .slider__text, .projects .slider__item .slider__text {
    position: absolute;
    color: #fff;
    top: 0;
    margin: 5%;
    opacity: 0;
    transition: .3s;
    font-size: 15px;
    line-height: 25px;
}

.blog__page .slider__item .slider__text {
    margin: 25px 0 5px;
}

.projects__page .slider__item .button__custom, .projects .slider__item .button__custom {
    opacity: 0;
    position: absolute;
    bottom: 0;
    transition: .3s;
    margin: 10%;
}

.projects__page .slider__item:hover .button__custom, .projects .slider__item:hover .button__custom {
    opacity: 1;
}

.slider__item img {
    transition: .3s;
}

.projects__page .slider__item:hover img, 
.projects .slider__item:hover img,
.team .slide__content:hover img, 
.team .slider__container_multiple.desktop .slider__item:hover img{
    filter: brightness(0.4);
}

.projects__page .slider__item:hover .slider__text, .projects .slider__item:hover .slider__text {
    opacity: 1;
}

/* the slides */
.slider__container_multiple .slick-slide {
    margin: 0 10px;
}
/* the parent */
.slider__container_multiple .slick-list {
    margin: 0 -10px;
}

section.projects {
    padding: 140px 0;
    overflow: hidden;
}

.slider__buttons {
    display: flex;
    justify-content: space-between;
    width: 55px;
}

.projects__description {
    max-width: 950px;
    font-size: 20px;
    line-height: 35px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 50px;
}

section.form {
    background: #2e2e2e;
    padding: 110px 0;
}

.form__header {
    color: #fff;
    font-size: 15px;
}

.container__fluid_form {
    display: flex;
}

.main__form {
    display: flex;
    flex-wrap: wrap;
}

.form__column.first {
    width: 30%;
}

.form__column.second {
    width: 70%;
}

.main__form > .button__custom {
    margin-left: auto;
    color: #fff;
}

.button__custom:disabled {
    opacity: .5;
    cursor: not-allowed;
}

input {
    background: none;
    color: rgba(255, 255, 255, .5);
    border: none;
    border-bottom: 1px solid #707070;
    font-size: 15px;
    padding-bottom: 30px;
    transition: .3s;
    width: 27%;
    max-width: 100%;
    margin-right: 20px;
}

input:focus {
    outline: none;
    border-color: #fff;
}

.button__custom {
    font-size: 15px;
    background: none;
    border: none;
    position: relative;
    padding: 0;
    padding-bottom: 20px;
    cursor: pointer;
    transition: .3s;
}

.button__custom:after {
    position: absolute;
    content: "";
    background: url(../media//designElements/arrow.svg);
    width: 40px;
    height: 8px;
    left: 0;
    bottom: 0;
    transition: .3s;
}

.header_slider_btn .button__custom:hover,
.projects .button__custom:hover  {
    transform: translate(20%, 0);
}

footer {
    background: #292826;
    font-size: 15px;
    font-weight: 300;
    display: block;
    padding: 85px 0;
}

footer * {
    color: #fff;
}

.container__fluid_footer {
    display: flex;
    justify-content: space-between;
    height: 100%;
    /* padding: 85px 0; */
}

.footer__column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footer__column.first {
    justify-content: center;
}

.footer__column.second {
    flex: 2;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}

.footer__column.third {
    justify-content: flex-end;
    align-items: flex-end;
}

.footer__column.second > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: auto;
}

.footer__column.second > ul > li {
    margin: 15px 0;
}

.footer__column > ul > li > a:hover {
    font-weight: 500;
}

.footer__logo {
    max-width: 125px;
    margin-bottom: 40px;
}

.slider__row {
    display: flex !important;
    flex-wrap: wrap;
    padding: 0 4px;
}

.slider__column {
    flex: 32%;
    max-width: 33%;
    padding: 0 4px;
  }
  
.slider__column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.slider__column .slider__item {
    position: relative;
}

.blog__page .slider__column .slider__item:first-child {
    margin-top: 0;
}

.blog__page .slider__column .slider__item {
    margin-top: 30px;
}

/* .blog__page .slider__column .slider__item:hover .slider__text {
    font-weight: 700;
} */

.blog__page .slider__column .slider__item:hover img {
    filter: brightness(0.4);
}

.projects__page .slider__column .slider__item .slider__text {
    margin: 10%;
    height: auto;
    width: auto;
    font-size: 20px;
}

.container__fluid_projects, .container__fluid_blog {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}

.slider__container_projects, .slider__container_blog {
    max-width: 1225px;
}

.blog__page .button__custom {
    padding-bottom: 0;
}

.slider__actions {
    position: relative;
}

.slider__actions .slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slider__actions .slick-dots li {
    padding: 10px 20px;
}

.slider__actions .slick-dots a {
    cursor: pointer;
    color: #C9C9C9;
    font-size: 15px;
}

.slider__actions .slick-dots .slick-active a {
    color: #464646;
}

.project__slider_actions {
    display: flex;
    justify-content: space-between;
    padding: 50px 10px;
}

.side__navigation {
    font-size: 20px;
    margin-top: 65px;
}

.side__navigation > li {
    margin-bottom: 25px;
}

.side__navigation > li > a {
    font-weight: 300;
}

.side__navigation > li > a.active {
    font-weight: 700;
}

.side__navigation > li > a:hover {
    font-weight: 400;
}

section.team {
    overflow-x: hidden;
    margin-bottom: 9%;
}

section.team .section__header {
    margin-right: 150px;
}

section.team {}

main.margin {
    margin: 4% 0;
}

.slide__header, .slide__subheader {
    font-size: 20px;
    font-weight: 300;
}

.slide__header {
    font-weight: 700;
    margin: 35px 0 10px;
}

.slide__btn {
    display: block;
    width: 40px;
    height: 8px;
    margin-top: 25px;
    background: url(../media/designElements/arrow.svg);
}

/* .slider__item.no_hover:hover img {
    filter: brightness(1);
} */

.checkbox__custom {
    width: 100%;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 25px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
    color: rgba(255, 255, 255, .5)
  }
  
  /* Hide the browser's default checkbox */
  .checkbox__custom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    border: 1px solid #707070;
    width: 18px;
    background-color: transparent;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox__custom:hover input ~ .checkmark {
    /* background-color: #ccc; */
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox__custom input:checked ~ .checkmark {
    /* background-color: #2196F3; */
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox__custom input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox__custom .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .crew__list {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    margin: 60px 0 80px;
    width: 100%;
}

.crew__list > .crew__item {
    margin-right: 9%;
}

.crew__list > .crew__item > .crew__title {
    font-weight: 700;
    display: block
}

.crew__list > .crew__item > .crew__position {
    font-weight: 300;
    margin-top: 10px;
}
 
.contact__list {
    display: flex;
    font-size: 25px;
    margin-top: 50px;
}

.contact__list > .contact__item {
    margin-right: 7%;
}

.contact__list > .contact__item > .contact__phone {
    font-size: 20px;
}

  .contact__list > .contact__item > .contact__title {
      font-weight: 700;
      margin-bottom: 10px;
      display: block;
  }

  .container__fluid_person, .projects__list_person {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 50px;
  }

  .person__column, .projects__column__person {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 400px;
  }

  .person__name {
      font-size: 35px;
      font-weight: 700;
      margin: 0;
  }

  .person__section_header {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .person__quote {
      font-size: 20px;
      font-weight: 700;
      margin-top: 40px;
      line-height: 30px;
  }

  .person__job {
    font-size: 20px;
    color: #707070;
    margin-top: 30px;
    font-weight: 300;
  }

  .person__description {
      font-size: 20px;
      margin-top: 260px;
      line-height: 30px;
  }

  .bold {
      font-weight: 700;
  }

  .articleItem {
    display: block;
    margin-bottom: 40px;
    cursor: pointer;
  }

  .articleItem:hover .articleItem__title {
    font-weight: 400;
  }

  .articleItem__title {
    color: #707070;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
  }

  .articleItem .button__custom {
    padding-bottom: 5px;
  }

  .articleItem .button__custom:hover:after,
  .project__item_person .button__custom:hover:after {
    transform: translate(0, 0);
}

  .more__article {
      font-size: 20px;
      font-weight: 700;
      color: #707070;
  }

  .project__title_person {
      font-size: 20px;
      color: #707070;
      font-weight: 300;
      line-height: 30px;
  }

  .person__articles {
     margin-top: 60px;
  }

  .button__custom.back__to {
    font-weight: 700;
    color: #707070;
  }

  .button__custom.back__to:after {
    transform: rotate(180deg);
  }

.project__item_person {
    margin-bottom: 40px;
    cursor: pointer;
}

.project__item_person:hover .project__title_person {
    font-weight: 400;
}

.projects__column__person .button__custom {
    padding-bottom: 10px;
}

.article__category {
    color: #292826;
    font-size: 20px;
}

.article__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin: 16% 0;
    max-width: 536px;
}

.person__column img {
    align-self: flex-start;
}


.container__fluid_article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.container__fluid_article .button__custom:hover,
.container__fluid.person__articles .button__custom:hover {
    font-weight: 700;
}

.container__fluid_article .button__custom:hover:after {
    transform: translate(0, 0);
}

.container__fluid_article .button__custom.previous:hover:after {
    transform: rotate(180deg);
}

.hastag__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
}

.hasgtag__item {
    font-size: 20px;
    margin-right: 12%;
}

.hasgtag__item:hover {
    font-weight: 700;
}

.article__header_column {
    display: flex;
    flex-direction: column;
}

.article__text {
    font-size: 20px;
    line-height: 35px;
    font-weight: 300;
}


.article__slider {
    width: 100%;
}

.article__slider_actions {
    display: flex;
    justify-content: space-between;
    padding: 50px 10px;
}

.button__custom.previous:after {
    transform: rotate(180deg);
}

.open__nav {
    display: none;
}

.mobile__nav_container {
    display: none;
}

.close__nav {
    display: none;
}

main.margin.contacts {
    margin: 4% 0 0;
}


.article__subheader {
    font-size: 20px;
    margin: 25px 0 0;
}

.related__articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0;
}

.related__articles > .related__article {
    display: block;
    max-width: 400px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

.related__articles > .related__article:hover {
    font-weight: 400;
}

.author {
    display: flex;
    font-size: 20px;
    line-height: 30px;
}

.author > div { 
    display: flex;
    flex-direction: column;
}

.author__article {
    margin-top: auto;
}

.author__name {
    font-weight: 700;
}

.author__position, .author__article {
    font-weight: 300;
}

.author__photo {
    margin-right: 65px;
}

.article__subheader_related {
    margin-top: 75px;
}